@import '../../_base.scss';

#backgraundNav{
  background-color: $PRIMARY_COLOR ;
}

#imgLogo{
  width: 50%;
  height: auto;
  margin-left: 50%;
}

#buttonSearch{
  background-color: $GRAY_COLOR_SECONDARY;
}